<!DOCTYPE html>
<html lang="en">

<%= render "includes/head" %>

<body>

<%= render "includes/nav" %>

<div class="container">
  <% if content_for?(:notifications) %>
    <%= yield(:notifications) %>
  <% else %>
    <% if @logged_out %>
      <p class="alert alert-primary my-4">Logged out.</p>
    <% end %>
  <% end %>

  <% if content_for?(:breadcrumb_header) %>
    <%= yield(:breadcrumb_header) %>
  <% else %>
    <ol class="breadcrumb bg-transparent p-2 my-4">
      <%= yield :breadcrumb %>
    </ol>
  <% end %>

  <% if content_for?(:content) %>
    <%= yield(:content) %>
  <% else %>
    <%= yield %>
  <% end %>
</div>

</body>

</html>
