<!DOCTYPE html>
<html>
  <head>
    <title>Rails Boards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" sizes="16x16" href="favicon.ico">
    <meta name="theme-color" content="#dc3545">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap">
    <link rel="stylesheet" lang="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" lang="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-danger text-light justify-content-between">
    <a class="navbar-brand" href="#">Rails Boards</a>
    <div class="navbar-nav ml-auto">
      <form class="form-inline">
        <a class="btn btn-sm btn-outline-light" href="#">Login</a>
      </form>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
