<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active">Boards</li>
<% end %>

<% content_for :table_head do %>
  <tr>
    <th class="p-2 col-2" colspan=3>
      Boards
    </th>
  </tr>
<% end %>

<% content_for :table_body do %>
  <% @boards.each do |board| %>
    <tr>
      <td class="col-6 align-middle">
        <%= link_to board.title, board_path(board) %>
        <small class="text-muted d-block"><%= board.description %></small>
      </td>
      <td class="col-2 align-middle">
        <small class="d-block"> <%= board.thread_count %> <%= "topic".pluralize(board.thread_count) %></small>
        <small class="d-block"> <%= board.post_count %> <%= "post".pluralize(board.post_count) %></small>
      </td>
      <td class="col align-middle">Latest post: <%= board.last_update %></td>
      <% if can? :delete, @board %>
        <td class="col-1 align-middle">
          <form action="{% url 'boards_delete' board.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger btn-sm" value="Delete" type="submit">
          </form>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>

<% content_for :table_after do %>
  <% if can? :create, @board %>
    <div class="my-4 text-right">
      <%= link_to "New board", new_board_path, class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= render template: 'layouts/table' %>
